@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #5191B1;
    display: flex;
}

.logo {
    padding-left: 10px;
    
    display: flex;
    flex-shrink: 1;
}

.header-links
{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;

    color: white;
    font-weight: bold;
}

.top-section {
    background-color: #5191B1;
    display: flex;
    justify-content: center;
}

.top-text {
    width: 200px;
    padding-left: 20px;
    color: white;

    flex-shrink: 0;
}

.top-section
img {
    border: 5px solid black;
    width: 500px;
    height: auto;
    margin: 25px;

    flex-shrink: 1;
}

button {
    background-color: white;
    border-radius: 15px;
    width: 125px;
    height: auto;
}

.second-section {
    background-color: rgb(128, 128, 128, 0.8);

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.second-section
h1 {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.bakery-gallery {
    display: flex;
}

.bakery-gallery-items {
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    flex-shrink: 1;

    padding: 50px;
    max-width: fit-content;
}

.bakery-gallery
img {
    width: 200px;
    height: 200px;

    align-self: center;
    border: 5px solid black;
}

.third-section {
    background-color: rgb(128, 128, 128, 0.8);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    max-width: 400px;
    color: white;
}

.third-section
p {
    padding: 20px;
    color: white;
}

.fourth-section {
    background-color: rgb(128, 128, 128, 0.8);
    padding: 50px;

    display: flex;
    justify-content: center;
    align-content: center;

    flex-direction: column;
    flex-wrap: wrap;

    border: 2px solid green;
}

.footer {
    background-color: #5191B1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    margin: 20px;
}